<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <br><hr />
        <table>
          <thead>
            <tr>
              <th style="text-align:center"><a href="#about" style="text-decoration:none">About Me</a></th>
              <th style="text-align:center"><a href="#contact" style="text-decoration:none">Contact Me</a></th>
              <th style="text-align:center"><a href="#projects" style="text-decoration:none">Projects</a></th>
            </tr>
          </thead>
        </table>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <img src="https://lunartiger.github.io/img/me.jpg" alt="Ryan" height="315" width="315"/>
        <hr style="height:1px; visibility:hidden;" />
        <h2 id="about">About</h2>
          <ul>
            <li>Name: Ryan Fowler-Hughes</li>
            <li><a href="https://www.google.com/maps/place/Winchester,+VA+22601/@39.1679128,-78.2038613" target="_blank">Location:</a> Winchester, Virginia, U.S.A.</li>
            <li>Birthday: July 2, 1992</li>
            <li>Height: 5ft 10in (approx. 177 cm)</li>
            <br>
            <li style="text-decoration: underline">Pets</li>
            <ul>
              <li>Dog's Name: Max</li>
              <li>Fifteen Chickens</li>
              <li>Thousands of Compost Worms</li>
            </ul>
          </ul>
        <div style="text-align:right"><small><a href="#top" style="text-decoration:none">To Top</a></small></div>
        <hr style="height:1px; visibility:hidden;" /><hr /><br>
        <h2 id="contact">Contact Me</h2>
          <ul>
            <li><a href="https://discordapp.com/users/206291426932293634" target="_blank">Discord</a></li><hr style="height:1px; visibility:hidden;" />
            <ul><li><a href="https://discord.gg/689TtFY" target="_blank">Join my Discord server</li></ul><hr style="height:1px; visibility:hidden;" />
            <li><a href="mailto:lunartiger@live.com" target="_top">E-mail:</a> lunartiger@live.com</li><hr style="height:1px; visibility:hidden;" />
            <li><a href="https://www.facebook.com/lunartiger" target="_blank">Facebook</a></li><hr style="height:1px; visibility:hidden;" />
            <li><a href="https://github.com/LunarTiger" target="_blank">GitHub</a></li><hr style="height:1px; visibility:hidden;" />
            <li><a href="https://www.instagram.com/lunartiger69/" target="_blank">Instagram</a></li><hr style="height:1px; visibility:hidden;" />
            <li><a href="tel:+15406926899">Phone:</a> 540-692-6899</li><hr style="height:1px; visibility:hidden;" />
            <li><a href="https://www.snapchat.com/add/dat1gui69" target="_blank">Snapchat</a></li><hr style="height:1px; visibility:hidden;" />
            <li><a href="http://steamcommunity.com/id/lunartiger" target="_blank">Steam</a></li><hr style="height:1px; visibility:hidden;" />
            <li><a href="https://twitter.com/LunarTiger69" target="_blank">Twitter</a></li>
          </ul>
          <div style="text-align:right"><small><a href="#top" style="text-decoration:none">To Top</a></small></div>
      <hr style="height:1px; visibility:hidden;" /><hr /><br>
      <h2 id="projects">My Projects</h2>
        <ul>
          <li><a href="https://lunartiger.github.io/AltspaceVR/">Altspace Scripts</a></li>
        </ul>
        <div style="text-align:right"><small><a href="#top" style="text-decoration:none">To Top</a></small></div>
      <hr style="height:1px; visibility:hidden;" /><hr />
      </section>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
